header {
    background-color: #cccccc;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: goldenrod
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: goldenrod;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produto li:active {
    border-color: blue;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-image: url("bg.jpg");
    padding:40px 0;
}
.copyright{
    color:#ffff;
    font-size: 12px;
    margin:20px 0;
    
}